page-goal-graphed {

  ion-card{
    border-top: 4px solid #558bf7;;
  }

        .scroll-content {
            background-color: map-get($colors, light);
        }

        ion-card-header {
            font-weight: bold;
        }

}
