<ion-header>

  <ion-navbar>
    <ion-title>Goals</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <img id='logo' alt="logo" src="/assets/imgs/Logo.png" > 

<h2 class='center'>Goals in progress</h2>

<button class='center' ion-button (click)="setGoal()">Add New Goal</button>


  <div *ngFor="let x of weightGoalData">

  <ion-card class='active'>
      <ion-card-header>
        <ion-card-title>{{x.name}} - Reach target weight {{x.weightTarget}} kg</ion-card-title>
     </ion-card-header>
      <ion-card-content>
        <p><b>Goal Weight: </b> {{x.weightTarget}}kg</p>
        <p><b>Current Weight:</b> {{userHealthDetail.weight}}kg</p>
        <p><b>Date Added:</b> {{x.dateAdded}}</p>
        <p><b>Target Completion Date:</b> {{x.targetDate}}</p>
        <!--User should no longer be able to mark this complete as this is based on a metric within the app!-->
        <!--<button ion-button (click)="markWeightGoalComplete(x.directPath)">Mark complete</button>-->
        <button ion-button (click)="deleteWeightGoal(x.directPath)">Delete goal</button>
        <br/>
        <span class='tag' id='tagActive'>Weight Goal</span>
      </ion-card-content>
    </ion-card>

  </div>

  <div *ngFor="let x of workoutGoalData">
  	
  <ion-card class='active'>
    <ion-card-header>
      <ion-card-title>{{x.name}} - Complete {{x.workoutTarget}} workouts</ion-card-title>
    </ion-card-header>
    <ion-card-content>

      <p><b>Status:</b> {{workoutStats.countOfWorkout}} / {{x.workoutTarget}} complete</p>
    	<p><b>Date Added:</b> {{x.dateAdded}}</p>
    	<p><b>Target Completion Date:</b> {{x.targetDate}}</p>
      <!--User should no longer be able to mark this complete as this is based on a metric within the app!-->
      <!--<button ion-button (click)="markWorkoutGoalComplete(x.directPath)">Mark complete</button>-->
      <button ion-button (click)="deleteWorkoutGoal(x.directPath)">Delete goal</button>
      <br/>
      <span class='tag' id='tagActive'>Workout Goal</span>
    </ion-card-content>
  </ion-card>

  </div>

  <div *ngFor="let x of otherGoalData">
  <ion-card class='active'>
    <ion-card-header>
      <ion-card-title>{{x.name}} - {{x.goalDescription}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>

      <p><b>Date Added:</b> {{x.dateAdded}}</p>
      <p><b>Target Completion Date:</b> {{x.targetDate}} </p>

      <button ion-button (click)="markOtherGoalComplete(x.directPath)">Mark complete</button>
      <button ion-button (click)="deleteOtherGoal(x.directPath)">Delete goal</button>
      <br/>
      <span class='tag' id='tagActive'>Custom Goal</span>
    </ion-card-content>
  </ion-card>

  </div>

  <h2 class='center'>Completed Goals</h2>

  <!--COMPLETED GO DOWN HERE AT BOTTOM-->

  <!--Weight goals-->

  <div *ngFor="let x of weightGoalDataComplete">

  <ion-card class='complete'>
      <ion-card-header>
        <ion-card-title>{{x.name}} - Reach target weight {{x.weightTarget}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p><b>Goal Weight: </b> {{x.weightTarget}}kg</p>
        <p><b>Date Added:</b> {{x.dateAdded}}</p>
        <p><b>Target Completion Date:</b> {{x.targetDate}}</p>
        <p><b>Date achieved: </b>{{x.dateAchieved}}</p>
        <br/>
        <span class='tag' id='tagInactive'>Weight Goal</span>
      </ion-card-content>
    </ion-card>

  </div>

  <!--Workout goals-->

  <div *ngFor='let x of workoutGoalDataComplete'>
    <ion-card class='complete'>
      <ion-card-header>
       <ion-card-title>{{x.name}} - Complete {{x.workoutTarget}} workouts</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p><b>Target workouts:</b> {{x.workoutTarget}}</p>
        <p><b>Date Added:</b> {{x.dateAdded}}</p>
        <p><b>Target Completion Date:</b> {{x.targetDate}}</p>
        <p><b>Date achieved: </b>{{x.dateAchieved}}</p>
        <br/>
        <span class='tag' id='tagInactive'>Workout Goal</span>

      </ion-card-content>
    </ion-card>
  </div>

  <!--Other goals-->

  <div *ngFor="let x of otherGoalDataComplete">
    
  <ion-card class='complete'>
    <ion-card-header>
    <ion-card-title>{{x.name}} - {{x.goalDescription}}</ion-card-title>
  </ion-card-header>
    <ion-card-content>
      <p><b>Description:</b> {{x.goalDescription}}</p>
      <p><b>Date Added:</b> {{x.dateAdded}}</p>
      <p><b>Target Completion Date:</b> {{x.targetDate}}</p>
      <p><b>Date achieved: </b>{{x.dateAchieved}}</p>
      <br/>
      <span class='tag' id='tagInactive'>Custom Goal</span>
    </ion-card-content>
  </ion-card>

  </div>


</ion-content>
