page-home {

.green {
   background-color:#ABEBC6  ;
}

.blue {
   background-color: #85C1E9;
}

.red {
   background-color: #F1948A  ;
}

.purple {
   background-color: #C39BD3  ;
}

.orange {
   background-color: #F8C471  ;
}

.yellow{
  background-color: #F9E79F ;
}


@supports (column-count: 5) {
   .wrapper {
      -moz-column-count: 5;
      -webkit-column-count: 5;
      column-count: 5;
      -moz-column-gap: 0.5em;
      -webkit-column-gap: 0.5em;
      column-gap: 0.5em;


      section {
   	    width: 100%;
   	    margin: 0 0.5em 0.5em 0;
   	    padding: 1em;
   	    display: inline-block;
        border-radius: 15px;
        text-align: center;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;

        img {
           display : block;
           margin: 0 auto 2em auto;
           width: 90px;
        }
      }
   }


   /// Define 4 column count for screen sizes up to 1200 pixels in width
   @media only screen and (max-width: 1200px) {
      .wrapper {
         -moz-column-count: 4;
         -webkit-column-count: 4;
         column-count: 4;
      }
   }


   /// Define 3 column count for screen sizes up to 900 pixels in width
   @media only screen and (max-width: 900px) {
      .wrapper {
         -moz-column-count: 3;
         -webkit-column-count: 3;
         column-count: 3;
      }
   }


   /// Define 2 column count for screen sizes up to 800 pixels in width
   @media only screen and (max-width: 800px) {
      .wrapper {
   	     -moz-column-count: 2;
         -webkit-column-count: 2;
         column-count: 2;
      }
   }


   /// Define 1 column count for screen sizes up to 600 pixels in width
   @media only screen and (max-width: 600px) {
      .wrapper {
         -moz-column-count: 1;
         -webkit-column-count: 1;
         column-count: 1;
         -moz-column-gap: 0;
         -webkit-column-gap: 0;
         column-gap: 0;
      }
   }
}

}
