page-workout-plan {
	label{
		font-weight: bold;
	}

	.displayItem{
		border: 1px solid #ddd; /*border*/
  		margin-top: -1px; /*margin*/
 		background-color: #f6f6f6; /*background colour*/
  		padding: 12px; /*padding*/
	}


	.cardTop{
   		border-top: 4px solid #558bf7;
	}

	.center{
		text-align: center;
		display: block;
	    margin-left: auto;
	    margin-right: auto
	}
}
