page-workout-history {

	#displayItem{
		border: 1px solid #ddd; /*border*/
  		margin-top: -1px; /*margin*/
 		background-color: #f6f6f6; /*background colour*/
  		padding: 12px; /*padding*/
	}

	ion-card{
    	border-top: 4px solid #558bf7;;
	}

}
